__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pt
*.pth
*.onnx
data/climbing/raw/
data/grasp/raw/
experiments/*.json
.DS_Store
data/climbing/annotations
data/climbing/raw
data/grasp/annotations
data/grasp/raw
experiments/results/
.pytest_cache/
dist/
